.promo {
    background: url(../img/promo-bg.jpg) no-repeat center/cover;
    height: 100vh;
    background-color: var(--purple-dark);
    .container {
        height: 100%;
    }
    &__content {
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    &__title {
        margin: 0 auto;
        font-weight: 700;
        font-size: 80px;
        line-height: 100%;
        text-align: center;
        color: var(--white);
        max-width: 90%;
    }
    &__subtitle {
        font-weight: 400;
        font-size: 24px;
        text-align: center;
        color: var(--white);
        max-width: 464px;
        margin: 20px auto 0;
    }
}