.rew {
    padding: 112px 0;
    &__wrapper {
        position: relative;
        border-radius: 32px;
        background-color: var(--orange-light);
        padding: 64px;
        padding-left: 60%;
    }
    &__content {
        width: 50%;
        max-width: 605px;
        position: absolute;
        left: 64px;
        .btn_orange {
            width: fit-content;
        }
        .title {
            text-align: left;
        }
        .fs_18 {
            text-wrap: balance;
        }
    }
    &__slider {
        .slick-arrow {
            width: 80px;
            height: 80px;
            font-size: 1px;
            color: transparent;
            background-color: transparent;
            border: 2px solid var(--orange-dark);
            border-radius: 100%;
            cursor: pointer;
            position: absolute;
            top: 50%;
            right: 0;
            transform: translateY(-50%);
            transition: background-color .3s;
            &:hover {
                background-color: var(--orange-dark);
                
            }
        }
        .slick-next {
            background-image: url(../img/next.svg);
            background-size: 7px 13px;
            background-repeat: no-repeat;
            background-position: center;
        }
        .slick-prev {
            right: auto;
            left: -96px;
            background: url(../img/prev.svg);
            background-size: 7px 13px;
            background-repeat: no-repeat;
            background-position: center;
        }
        
    }
    &__slide {
        
        
        
        img {
            border: 2px solid var(--orange-dark);
            border-radius: 16px;
            width: 328px;
            height: 100%;
            object-fit: contain;
        }
    }
}