:root {
	--text: #38005b;
	--purple-dark: #9700cc;
	--purple-middle: #df9cff;
	--purple-light: #f8daff;
	--green-dark: #64dba9;
	--green-middle: #d9f4e9;
	--green-light: #ebfbf0;
	--orange-dark: #ffac2f;
	--orange-middle: #ffe4cc;
	--orange-light: #fff5e6;
	--white: #fff;
    --font-family: "Manrope", sans-serif;
}